@using NorthWindApp.Helpers
@model IEnumerable<NorthWindApp.Models.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Footers{
    <footer class="border-top footer text-muted">
        <div class="container">
            <span> You can’t edit categories</span>
        </div>
    </footer>
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Image" asp-route-id="@item.Id">
                        @Html.Image(item.Image);
                    </a>
                    <br />
                    @Html.NorthwindImageLink(item.Id, "View image")
                    <br />
                    <a northwind-id="@item.Id">View image by tag helper</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
